* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	/*background-color: #AFEEEE;*/
	background-color: #FFF;
}

.container-banner {
	margin: 0 auto;
	text-align: center;
}

.banner {
	font-family: 'Francois One', sans-serif;
	font-weight: 600;
	color: #FFF;
	font-stretch: ultra-expanded;
}

.container-botoes {
	max-width: 600px;
	margin: 0 auto;
}

audio {
	visibility: hidden;
}

/* =========== ESTILO DA PÁGINA 1 ============== */

header {

}

.categorias {
	width: 100%;
}